@import 'tailwindcss';

@theme {
  --color-mint-500: oklch(0.72 0.11 178);
  --color-mint-50: oklch(0.72 0.11 178 / 0.1);
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}
